.about {
   background-color: #f9f9f9;
   padding-bottom: 75px;
}

.aboutMeContainer {
   display: flex;
   padding: 100px 0 0;
}

.aboutMe {
   width: 50%;
   padding-left: 30px;
   p {
      font-size: 18px;
   }
}

.headshot {
   width: 50%;
   padding-right: 50px;
   padding-bottom: 50px;
   position: relative;
}

.headshotBorder {
   position: relative;
}

.headshotBorder2 {
   position: absolute;
   width: 100%;
   height: 100%;
   border: 4px solid #cf5b44;
   top: 10px;
   left: 10px;
   z-index: 3;
}

.headshotBorder3 {
   position: absolute;
   width: 100%;
   height: 100%;
   border: 4px solid #777777;
   top: 20px;
   left: 20px;
   z-index: 2;
}

.headshot img {
   position: relative;
   z-index: 999;
}

.aboutMeDesc {
   color: #777777
}

.seePortfolio {
   margin: 40px 0;
   z-index: 5;
   a{
      border: 1px solid #444444;
      border-radius: 25px;
      padding: 10px 25px;
      font-size: 18px;
      color: #444444;
      text-decoration: none;
      &:hover {
         background-color: #444444;
         color: white;
      }
   }
}

@media (max-width: 1151px) {
   .about {
      background-color: #f9f9f9;
      padding-bottom: 0px;
   }
}

@media (max-width: 620px) {
   .headshot {
      display: none;
   }

   .aboutMe {
      margin-top: -25px;
      width: 100%;
      text-align: center;
      h2 {
         &::after {
         content: "";
         display: block;
         height: 1.2px;
         width: 100px;
         background: #444444;
         margin: 0 auto;
         margin-top: 40px;
         margin-bottom: 40px;
         }
      }
      p {
         text-align: left;
      }
   }
}