.about {
   // position: relative;
   background-color: #f9f9f9;
   padding-bottom: 75px;
   // z-index: -5;
}

.aboutMeContainer {
   display: flex;
   padding: 100px 0 0;
   
   
   // padding-top: 75px;
   
   // margin-bottom: 75px;
}

.aboutMe {
   width: 50%;
   // background: green;
   // height: 200px;
}

.headshot {
   height: 25%;
   width: 50%;
   padding-right: 50px;
   padding-bottom: 50px;
   position: relative;
   // z-index: 999;
   // border: 10px solid red;
   // img::after {
   //    content: "";
   //    // display: flex;
   //    display: block;
   //    height: 1000px;
   //    width: 1000px;
   //    position: absolute;
   //    background: red;
   //    top: 0%;
   //    // margin: 0 auto;
   //    // margin-top: 30px;
   //    // right: 31%;
   //    }
   }
   // justify-content: flex-end;
   // padding: 25px 0 0;
   // display: inline-block;
   // background-color: black;
.headshot span {
   // margin-left: 10px;
   // border: 10px solid red;
}

.headshot img {
   position: relative;
   z-index: 999;
}

// .headshotBorder {
//    position: relative;
// }

// 

// .headshotBorder::before {
//       z-index: 1;
//       max-width: 88%;
//       max-height: 88%;
//       content: '';
//       display: block;
//       position: absolute;
//       top: 30px; right: 0px; bottom: 0px; left: 25px;
//       border: solid 4px #777777;
// }

// .headshotBorder::after {
//       z-index: 2;
//       width: 88%;
//       height: 88%;
//       content: '';
//       display: block;
//       position: absolute;
//       top: 15px; right: 0; bottom: 0; left: 15px;
//       border: solid 4px #444444;
// }

@media (max-width: 1062) {
   .headshotBorder{
      display: none;

   }
      
}
// .headshotBorder::after {
//       z-index: -2;
//       width: 88%;
//       height: 88%;
//       content: '';
//       display: block;
//       position: absolute;
//       top: 15px; right: 0; bottom: 0; left: 15px;
//       border: solid 4px #444444;
// }

.aboutMeDesc {
   color: #777777
   // width: 50%;
   // background: orange;
}

.seePortfolio {
   margin: 40px 0;
   z-index: 5;
   a{
      border: 1px solid #444444;
      border-radius: 25px;
      padding: 10px 25px;
      font-size: 14px;
      color: #444444;
      text-decoration: none;
      &:hover {
         background-color: #444444;
         color: white;
      }
   }
}

@media (max-width: 1062px) {
   .about {
      // position: relative;
      background-color: #f9f9f9;
      padding-bottom: 0px;
      // z-index: -5;
   }
}