.contactMe {
   background-color: #232323;
   color: #bbbbbb;
}

.contactContainer h2 {
   padding: 75px 0 50px;
   text-align: center;
   color: #bbbbbb;
   &::after {
   content: "";
   display: block;
   height: 1.5px;
   width: 100px;
   background: #444444;
   margin: 0 auto;
   margin-top: 30px;
   }
}

.emailForm{
   display: flex;
   flex-direction: column;
   div {
      display: flex;
      justify-content: space-between;
      input {
         width: 49.5%;
      }
   }
}

.submitEmail {
   padding: 10px 25px;
   &:hover {
      background-color: white;
      color: #444444;
      }
}



@media (max-width: 800px) {
   .emailForm div input {
      width: 49%;
   }
}

input,
textarea {
   background-color: #2e2e2e;
   padding: 15px 0;
   border: none;
   margin-top: 10px; 
   
}

textarea::placeholder,
input::placeholder {
   padding-left: 15px;
   // margin: 10px;
   }  

.subject {
   width: 100%;
}

textarea {
   width: 100%;
}

.submitEmail {
   text-align: center;
   align-self: center;
   padding: 10px 25px;
   border-radius: 25px;
   color: #ffffff;
   margin: 20px 0;
}


