footer {
   background-color: #232323;
   color: #bbbbbb;
   border-top: 1px solid #bbbbbb;
} 

.footerContainer div {
   width: 33%;
   padding: 20px 0;
}

.footerContainer {
   display: flex;
   justify-content: space-between;
   p {
      margin: 0;
      padding: 0;
   }
}

.footerContainer {
   ul {
      margin: 0;
      display: flex;
      justify-content: space-between;
      padding-left: 40px;
      li {
         list-style-type: none;
         transition: 1s;
         &:hover {
            transform: scale(1.1);
         }
         
         // margin-left: 50px;
         a {
            color: #bbbbbb;
            text-decoration: none;
            &:hover {
               color: white;
            }
         }
      }
   }
}

.submitEmail {
   padding: 10px 25px;
   &:hover {
      background-color: white;
      color: #444444;
      }
}

.upArrow {
   text-align: center;
   a{

      color: #bbbbbb;
   }
}

.fa-chevron-up {
   // border: 1px solid #bbbbbb;
   // border-radius: 50%;
   // padding: 20px;
   // color: #bbbbbb;
   
}

@media (max-width: 960px){
   // footer {
   //    font-size: 14px;
   // }
   .name, .footerSocials {
      // flex-grow: 3;
   }
   .footerContainer ul  {
      // display: flex;
      // flex-direction: column;
      text-align: right;
      flex-direction: flex-end;
      li {
         // width: 33%;s
      }
      span {
         display: none;
      }
   }
}

@media (max-width: 375px) {
   .footerContainer ul {
      flex-direction: column;
   }
}