footer {
   background-color: #232323;
   color: #bbbbbb;
   border-top: 1px solid #bbbbbb;
} 

.footerContainer div {
   width: 33%;
   padding: 20px 0;
}

.footerContainer {
   display: flex;
   padding: 10px 0;
   justify-content: space-between;
   p {
      margin: 0;
      padding: 0;
   }
}

.footerContainer {
   ul {
      margin: 0;
      display: flex;
      justify-content: space-between;
      padding-left: 40px;
      li {
         list-style-type: none;
         &:hover {
            // transform: scale(1.1);
         }
         a {
            transition: 1s;
            color: #bbbbbb;
            text-decoration: none;
            &:hover {
               color: white;
            }
         }
      }
   }
}

.upArrow {
   text-align: center;
   a{
      border: 1px solid #f9f9f9;
      padding: 8px 10px;
      border-radius: 50%;
      color: #bbbbbb;
      // transition: 1s;      
      
      &:hover {
         color:#2e2e2e;
         background-color: #f9f9f9; 
      }
   }
}

.email {
   text-align: left;
   padding-bottom: 40px;
   a {
      color: #bbbbbb;
      text-decoration: none;
      font-size: 18px;
      &:hover {
         color: white;
         transition: 1s;
      }
   }
}

@media (max-width: 960px){
   .name, .footerSocials {
   }
   .footerContainer ul  {
      padding: 0;
      text-align: right;
      flex-direction: flex-end;
      i {
         display: none;
      }
   }
}

@media (max-width: 765px) {
   .email {
      text-align: center;
   }
   .footerContainer  {
      flex-direction: column;
      padding-top: 3px;
      div {
         width: 100%;
         margin: -5px 0;
         p {
            text-align: center;
         }
      }
   }

   .footerSocials ul {
      justify-content: space-around;
   }

   div.upArrow {
      order: 1;
      margin-bottom: 10px;
   }
}