.hero {
   background-image: linear-gradient(to right, rgba(43, 35, 29, 0.529), rgba(43, 35, 29, 0.529)),url('./../../assets/tobias-van-schneider-230170-unsplash.jpg');
   background-size: cover;
   height: 100vh;
   color: white;
   margin-bottom: 75px;
}

.topHeader {
   display: flex;
   justify-content: space-between;
      nav {
         display: flex;
         li {
            list-style-type: none;
            margin-top: 18px;
            &:hover {
               // color: white;
               transform: scale(1.1);
            }
            a {
               color: #b2b2b2;
               text-decoration: none;
               padding: 20px 0;
               margin-right: 25px;
               &:hover {
                  color: white;
                  }
            }
         } 
   }
}

// .topHeader  a:hover {
//    color: white;
//    transform: scale(1.1);
// }

// .topHeader  li:hover {
//    color: white;
//    transform: scale(1.1);
// }

.topHeader {
   color: #b2b2b2;
   span {
      color: #ffffff;
   }
}
      
.nameContainer {
   border-top: 1px solid #bbbbbb;
   display: flex;
   height: 100vh;   
   flex-direction: column;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.heroLinks{
   margin-top: 50px;
   a {
      text-decoration: none;
      font-size: 14px;
      border: 1px solid white;
      border-radius: 25px;
      color: white;
      padding: 10px 25px;
      &:hover {
         background-color: white;
         color: black;
         transform: scale(2);
         // &:active {

         // }
      }
   }
}