.hero {
   // display: flex;
   background-image: linear-gradient(to right, rgba(43, 35, 29, 0.529), rgba(43, 35, 29, 0.529)),url('./../../assets/tobias-van-schneider-230170-unsplash.jpg');
   background-size: cover;
   background-attachment: fixed;
   height: 100vh;
   max-width: 100%;
   background-position: center;
   color: white;
   a {
      text-decoration: none;
   }
   // margin-bottom: 75px;
}

@media (max-width: 400px) {
   .hero {
      background-image: linear-gradient(to right, rgba(43, 35, 29, 0.529), rgba(43, 35, 29, 0.529)),url('./../../assets/tobias-van-schneider-230170-unsplash-cropped.jpg');
      // height: 80vh;
   }
   h1 {
      font-size: 40px;
   }

   div.nameContainer {
      display: block;
      padding-top: 25%;
      // justify-content: none;
      // text-align: left;
      // padding-bottom: -1000px;
   }

   .heroLinks {
      margin-top: -100px;
   }
}

.topHeader {
   display: flex;
   justify-content: space-between;
      nav {
         display: flex;
         li {
            list-style-type: none;
            margin-top: 18px;
            transition: .5s;
            &:hover {
               // color: white;
               transform: scale(1.1);
            }
            a {
               color: #b2b2b2;
               text-decoration: none;
               padding: 20px 0;
               margin-left: 25px;
               transition: 1s;
               &:hover {
                  color: white;
                  }
            }
         } 
   }
}

@media (max-width: 600px) {
   .topHeader {
      flex-direction: column;
      padding: 5px 0 0;
      // justify-content: center;
      text-align: center;
      a h2 {
         display: none;
      }
   }

   .topNavRight {
      justify-content: center;
      margin-left: -25px;
      margin-top: -15px;
      padding-bottom: 10px;
   }
}


.topHeader {
   color: #b2b2b2;
   span {
      color: #ffffff;
   }
}
      
.nameContainer {
   border-top: 1px solid #bbbbbb;
   display: flex;
   height: 100vh;   
   flex-direction: column;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.heroLinks{
   margin-top: 50px;
   a {
      text-decoration: none;
      font-size: 14px;
      border: 1px solid white;
      border-radius: 25px;
      color: white;
      padding: 10px 25px;
      &:hover {
         background-color: white;
         color: black;
         transform: scale(2);
         // &:active {

         // }
      }
   }
}