.examples {
   padding: 75px 0 0;
}

.examples h2 {
   text-align: center;
   margin: 0 0 50px;
   &::after {
      content: "";
      display: block;
      height: 1.5px;
      width: 100px;
      background: #444444;
      margin: 0 auto;
      margin-top: 30px;
      }
}

.portfolioContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.portfolioExample {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   justify-content: space-between;
   margin-bottom: 35px;
}

.portfolio {
   width: 49%;
   margin-bottom: 45px;   
   p {
      color: #999999;
      font-size: 18px;
   }
   h5 {
      color: #999999;
   }
}

.portfolioDesc {
   padding-top: 20px;
}

.formText{
   color: white;
   padding-left: 6px;
}

.viewLive {
   margin-top: 40px;
   a {
   color: #777777;
   padding: 4px 10px;
   border-radius: 25px;
   padding: 10px 25px;
   margin-top: 75px;
   text-decoration: none;
   border: 2px solid #eeeeee;
   &:hover {
      background-color: #444444;
         color: white;
      }
   }
}

@media (max-width: 700px) {
   .examples {
      h5, h3 {
         text-align: center;
      }
   }
   .portfolio {
      width: 100%;
      order: 1;
   }

   .viewLive {
      text-align: center;
   }
   
   .portfolioDesc2, .portfolioDesc {
      order: 2;
   }
}