.examples {
   padding: 75px 0 0;
   // border-top: 1px solid black;
   // background-color: #f9f9f9;
   
}

.examples h2 {
   text-align: center;
   margin: 0 0 50px;
   &::after {
   content: "";
   // display: flex;
   display: block;
   height: 1.5px;
   width: 100px;
   // position: absolute;
   background: #444444;
   // top: 0%;
   margin: 0 auto;
   margin-top: 30px;
   // right: 31%;
   }
}

.portfolioContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   // background-color: #f9f9f9;
   
}

.portfolio {
   // justify-content: space-between;
   width: 48%;
   margin-bottom: 45px;
   // height: 400px;
   // background-color: orange;
   // display:flex;
   // align-items: center;
   // h3 {
   //    color: #444444;
      // display: inline-block;
      // border-bottom: 2px solid black;
   
   p {
      color: #999999;
      // display: inline-block;
      // border-bottom: 2px solid black;
   }
   h5 {
      color: #999999;
      
   }
}

// .portfolio p::after {
//    content: "";
//    // display: flex;
//    display: block;
//    height: 1.5px;
//    width: 75%;
//    // position: absolute;
//    background: #999999;
//    // top: 0%;
//    margin: 30px 0 20px;
//    // margin-top: 30px;
// }

.portfolioDesc2 {
   // text-align: right;
}

// .emailForm input, .emailForm textarea{
.formText{
   color: white;
   padding-left: 6px;
}

.viewLive {
   margin-top: 75px;
   a {
   color: #777777;
   padding: 4px 10px;
   margin-top: 75px;
   text-decoration: none;
   border: 2px solid #eeeeee;
   &:hover {

      background-color: #444444;
         color: white;
   }
   }
}

// form {
//    color: white;
// }