.projectContainer {
   display: flex;
   flex-wrap: wrap;
}
.project {
   width: 25%;
   height: 300px;
   background-color: yellow;
   display:flex;
   align-items: center;
}

.projectDesc {
   background-color: red;
}