.skills2  {
   // background-color: #f9f9f9;
   padding-top: 15px;
   margin-top: 15px;
   h2 {
      font-size: 35px;
      text-align: center;
      margin-bottom: 50px;
      &::after {
         content: "";
         // display: flex;
         display: block;
         height: 1.5px;
         width: 100px;
         // position: absolute;
         background: #444444;
         // top: 0%;
         margin: 0 auto;
         margin-top: 30px;
         // right: 31%;
         }
   }
} 

@media (max-width: 1060px) {
   .skills2 {
      display: none;
   }
}

.skills2 ul {
   display: flex;
   justify-content: space-between;
   padding: 0;
   // margin-top: 100px;
      li {
         list-style-type: none;
         text-align: center;
         i {
            font-size: 40px;
            padding: 10px;
         }
   }
}

ul.skillsBottom2  {
      justify-content: space-around;
      padding: 0px 0 0px;
}

.devicon-html5-plain:hover {
   // background-color: black;
   color: #d45632;
}
.devicon-css3-plain:hover {
   // background-color: black;
   color: #3371b1;
}
.devicon-sass-original:hover {
   // background-color: black;
   color: #c26a98;
}
.devicon-javascript-plain:hover {
   // background-color: black;
   color: #f4df51;
}
.devicon-jquery-plain:hover {
   color: #2d69a9;
   // background-color: black;
}
.devicon-gulp-plain:hover {
   // background-color: black;
   color: #c4534d
}
.devicon-react-original:hover {
   // background-color: black;
   color: #80d8f7;
}
.devicon-visualstudio-plain:hover {
   // background-color: black;
   color: #307ac6;
}

// ul.skillsTop {
//    margin-top: 20px;
// }