.skills {
   background: #f9f9f9;
}

.skills ul {
   display: flex;
   justify-content: space-between;
   padding: 0;
   li {
      list-style-type: none;
      text-align: center;
      i {
         font-size: 40px;
         padding: 10px;
         color: #777777;
      } p {
         color: #777777;
      }
   }
}
      
ul.skillsBottom  {
   justify-content: space-around;
   padding: 30px 0 75px;
}

@media (min-width: 1152px) {
   .skills  {
      display:none;
      background-color: #444444;
      h2 {
         text-align: center;
         &::after {
            content: "";
            display: block;
            height: 1.5px;
            width: 100px;
            background: #444444;
            margin: 0 auto;
            }
      }
   } 
}
     
@media (max-width: 480px) {
   .skills ul li i {
      font-size: 40px;
   }
   .skills p {
         font-size: 14px;
   }
}

@media (max-width: 400px) {
   .skills ul li i {
      font-size: 30px;
   }
   .skills p {
      font-size: 12px;
   }
   
}