@import 'setup';

@import 'typography';
@import 'hero';
@import 'aboutMe';
@import 'skills';
@import 'skillsNew';
@import 'portfolio';
@import 'projects';
@import 'contactMe';
@import 'footer';


.wrapper {
	max-width: 1100px;
   margin: 0 auto;
   @media (max-width: 1150px) {
      max-width: 85%;
   }
   // @media (max-width: 930px) {
   //    max-width: 700px;
   // }
   // @media (max-width: 730px) {
   //    max-width: 
   // }
}

// body {
//    background: yellow;
// }



img {
   max-width: 100%;
}

a, a:active, a:focus {
   outline: none;
}