@import 'setup';

@import 'typography';
@import 'hero';
@import 'aboutMe';
@import 'skills';
@import 'portfolio';
@import 'projects';
@import 'contactMe';
@import 'footer';


.wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

// body {
//    background: yellow;
// }



img {
   max-width: 100%;
}

a, a:active, a:focus {
   outline: none;
}