article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Poppins", sans-serif; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 36px;
  color: #444444; }

h3 {
  font-size: 24px;
  color: #444444; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 17px; }

p {
  line-height: 1.3; }

.hero {
  background-image: linear-gradient(to right, rgba(43, 35, 29, 0.529), rgba(43, 35, 29, 0.529)), url("./../../assets/tobias-van-schneider-230170-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  max-width: 100%;
  background-position: center;
  color: white; }
  .hero a {
    text-decoration: none; }

@media (max-width: 400px) {
  .hero {
    background-image: linear-gradient(to right, rgba(43, 35, 29, 0.529), rgba(43, 35, 29, 0.529)), url("./../../assets/tobias-van-schneider-230170-unsplash-cropped.jpg"); }
  h1 {
    font-size: 40px; }
  div.nameContainer {
    display: block;
    padding-top: 25%; }
  .heroLinks {
    margin-top: -100px; } }

.topHeader {
  display: flex;
  justify-content: space-between; }
  .topHeader nav {
    display: flex; }
    .topHeader nav li {
      list-style-type: none;
      margin-top: 18px;
      transition: .5s; }
      .topHeader nav li:hover {
        transform: scale(1.1); }
      .topHeader nav li a {
        color: #b2b2b2;
        text-decoration: none;
        padding: 20px 0;
        margin-left: 25px;
        transition: 1s; }
        .topHeader nav li a:hover {
          color: white; }

.topHeader {
  color: #b2b2b2; }
  .topHeader span {
    color: #ffffff; }

.nameContainer {
  border-top: 1px solid #bbbbbb;
  display: flex;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center; }

.heroLinks {
  margin-top: 50px; }
  .heroLinks a {
    text-decoration: none;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    padding: 10px 25px; }
    .heroLinks a:hover {
      background-color: white;
      color: black;
      transform: scale(2); }

@media (max-width: 600px) {
  .topHeader {
    flex-direction: column;
    padding: 5px 0 0;
    text-align: center; }
    .topHeader h2 {
      display: none; }
  .topNavRight {
    justify-content: center;
    margin-left: -25px;
    margin-top: -15px;
    padding-bottom: 10px; } }

.about {
  background-color: #f9f9f9;
  padding-bottom: 75px; }

.aboutMeContainer {
  display: flex;
  padding: 100px 0 0; }

.aboutMe {
  width: 50%;
  padding-left: 30px; }
  .aboutMe p {
    font-size: 18px; }

.headshot {
  width: 50%;
  padding-right: 50px;
  padding-bottom: 50px;
  position: relative; }

.headshotBorder {
  position: relative; }

.headshotBorder2 {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid #cf5b44;
  top: 10px;
  left: 10px;
  z-index: 3; }

.headshotBorder3 {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid #777777;
  top: 20px;
  left: 20px;
  z-index: 2; }

.headshot img {
  position: relative;
  z-index: 999; }

.aboutMeDesc {
  color: #777777; }

.seePortfolio {
  margin: 40px 0;
  z-index: 5; }
  .seePortfolio a {
    border: 1px solid #444444;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 18px;
    color: #444444;
    text-decoration: none; }
    .seePortfolio a:hover {
      background-color: #444444;
      color: white; }

@media (max-width: 1151px) {
  .about {
    background-color: #f9f9f9;
    padding-bottom: 0px; } }

@media (max-width: 620px) {
  .headshot {
    display: none; }
  .aboutMe {
    margin-top: -25px;
    padding-left: 0;
    width: 100%;
    text-align: center; }
    .aboutMe h2::after {
      content: "";
      display: block;
      height: 1.2px;
      width: 100px;
      background: #444444;
      margin: 0 auto;
      margin-top: 40px;
      margin-bottom: 40px; }
    .aboutMe p {
      text-align: left; } }

.skills {
  background: #f9f9f9; }

.skills ul {
  display: flex;
  justify-content: space-between;
  padding: 0; }
  .skills ul li {
    list-style-type: none;
    text-align: center; }
    .skills ul li i {
      font-size: 40px;
      padding: 10px;
      color: #777777; }
    .skills ul li p {
      color: #777777; }

ul.skillsBottom {
  justify-content: space-around;
  padding: 30px 0 75px; }

@media (min-width: 1152px) {
  .skills {
    display: none;
    background-color: #444444; }
    .skills h2 {
      text-align: center; }
      .skills h2::after {
        content: "";
        display: block;
        height: 1.5px;
        width: 100px;
        background: #444444;
        margin: 0 auto; } }

@media (max-width: 480px) {
  .skills ul li i {
    font-size: 40px; }
  .skills p {
    font-size: 14px; } }

@media (max-width: 400px) {
  .skills ul li i {
    font-size: 30px; }
  .skills p {
    font-size: 12px; } }

.skills2 {
  padding-top: 15px;
  margin-top: 15px; }
  .skills2 h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px; }
    .skills2 h2::after {
      content: "";
      display: block;
      height: 1.5px;
      width: 100px;
      background: #444444;
      margin: 0 auto;
      margin-top: 30px; }

.skills2 ul {
  display: flex;
  justify-content: space-between;
  padding: 0; }
  .skills2 ul li {
    list-style-type: none;
    text-align: center; }
    .skills2 ul li i {
      font-size: 40px;
      padding: 10px; }

ul.skillsBottom2 {
  justify-content: space-around;
  padding: 0px 0 0px; }

@media (max-width: 1151px) {
  .skills2 {
    display: none; } }

.examples {
  padding: 75px 0 0; }

.examples h2 {
  text-align: center;
  margin: 0 0 50px; }
  .examples h2::after {
    content: "";
    display: block;
    height: 1.5px;
    width: 100px;
    background: #444444;
    margin: 0 auto;
    margin-top: 30px; }

.portfolioContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.portfolioExample {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 35px; }

.portfolio {
  width: 49%;
  margin-bottom: 45px; }
  .portfolio p {
    color: #999999;
    font-size: 18px; }
  .portfolio h5 {
    color: #999999; }

.portfolioDesc {
  padding-top: 20px; }

.formText {
  color: white;
  padding-left: 6px; }

.viewLive {
  margin-top: 40px; }
  .viewLive a {
    color: #777777;
    padding: 4px 10px;
    border-radius: 25px;
    padding: 10px 25px;
    margin-top: 75px;
    text-decoration: none;
    border: 2px solid #eeeeee; }
    .viewLive a:hover {
      background-color: #444444;
      color: white; }

@media (max-width: 700px) {
  .examples h5, .examples h3 {
    text-align: center; }
  .portfolio {
    width: 100%;
    order: 1; }
  .viewLive {
    text-align: center; }
  .portfolioDesc2, .portfolioDesc {
    order: 2; } }

.projectContainer {
  display: flex;
  flex-wrap: wrap; }

.project {
  width: 25%;
  height: 300px;
  background-color: yellow;
  display: flex;
  align-items: center; }

.projectDesc {
  background-color: red; }

.contactMe {
  background-color: #232323;
  color: #bbbbbb; }

.contactContainer h2 {
  padding: 75px 0 50px;
  text-align: center;
  color: #bbbbbb; }
  .contactContainer h2::after {
    content: "";
    display: block;
    height: 1.5px;
    width: 100px;
    background: #444444;
    margin: 0 auto;
    margin-top: 30px; }

.emailForm {
  display: flex;
  flex-direction: column; }
  .emailForm div {
    display: flex;
    justify-content: space-between; }
    .emailForm div input {
      width: 49.5%; }

.submitEmail {
  padding: 10px 25px; }
  .submitEmail:hover {
    background-color: white;
    color: #444444; }

@media (max-width: 800px) {
  .emailForm div input {
    width: 49%; } }

input,
textarea {
  background-color: #2e2e2e;
  padding: 15px 0;
  border: none;
  margin-top: 10px; }

textarea::placeholder,
input::placeholder {
  padding-left: 15px; }

.subject {
  width: 100%; }

textarea {
  width: 100%; }

.submitEmail {
  text-align: center;
  align-self: center;
  padding: 10px 25px;
  border-radius: 25px;
  color: #ffffff;
  margin: 20px 0; }

footer {
  background-color: #232323;
  color: #bbbbbb;
  border-top: 1px solid #bbbbbb; }

.footerContainer div {
  width: 33%;
  padding: 20px 0; }

.footerContainer {
  display: flex;
  padding: 10px 0;
  justify-content: space-between; }
  .footerContainer p {
    margin: 0;
    padding: 0; }

.footerContainer ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 40px; }
  .footerContainer ul li {
    list-style-type: none; }
    .footerContainer ul li a {
      transition: 1s;
      color: #bbbbbb;
      text-decoration: none; }
      .footerContainer ul li a:hover {
        color: white; }

.upArrow {
  text-align: center; }
  .upArrow a {
    border: 1px solid #f9f9f9;
    padding: 8px 10px;
    border-radius: 50%;
    color: #bbbbbb; }
    .upArrow a:hover {
      color: #2e2e2e;
      background-color: #f9f9f9; }

.email {
  text-align: left;
  padding-bottom: 40px; }
  .email a {
    color: #bbbbbb;
    text-decoration: none;
    font-size: 18px; }
    .email a:hover {
      color: white;
      transition: 1s; }

@media (max-width: 960px) {
  .footerContainer ul {
    padding: 0;
    text-align: right;
    flex-direction: flex-end; }
    .footerContainer ul i {
      display: none; } }

@media (max-width: 765px) {
  .email {
    text-align: center; }
  .footerContainer {
    flex-direction: column;
    padding-top: 3px; }
    .footerContainer div {
      width: 100%;
      margin: -5px 0; }
      .footerContainer div p {
        text-align: center; }
  .footerSocials ul {
    justify-content: space-around; }
  div.upArrow {
    order: 1;
    margin-bottom: 10px; } }

.wrapper {
  max-width: 1100px;
  margin: 0 auto; }
  @media (max-width: 1150px) {
    .wrapper {
      max-width: 85%; } }

img {
  max-width: 100%; }

a, a:active, a:focus {
  outline: none; }
